

.wrapper {
    width: 1904px;


}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}



h1 {
    font-family: open-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
}

span {
    font-family: open-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
}


.header-menu {
    display: flex;
    height: 70px;
    background-color: #1d2124;
    justify-content: space-between;
    align-items: center;


}

.logo-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 68px;
    height: 70px;
    background-color: #171a1c;
    margin-right: 5px;
}

.logo-title {
    display: flex;
    align-items: center;
    color: #ffffff;


}

.header_btn {
    display: inline;
    color: #ffffff;
    justify-self: center;
    margin-right: 27px;
}

.search-btn {
    display: flex;
    width: 68px;
    background-color: #171a1c;
    align-self: stretch;
    justify-content: center;
    align-items: center;
}

.fa-search {
    color: #ffffff;
}

/*--------bg--------*/
.header-bg {
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/header-bg.jpeg) no-repeat 100% fixed;
    background-size: cover;
    height: 400px;
    justify-content: center;
    align-items: center;

}

.title-box {
    width: 607px;
    height: 120px;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;

}

h1 {
    color: #ffffff;
    font-size: 25px;
}

.btn-box:last-child {
    align-self: center;

}

.btn-box {
    display: flex;
    width: 360px;
    height: 55px;
    justify-content: space-between;

}

.box-btn_1 {
    display: flex;
    width: 170px;
    height: 55px;
    background-color: #89ca62;
    border-radius: 10px;
    justify-content: center;
    align-items: center;

}

.box-btn_2 {
    display: flex;
    width: 170px;
    height: 55px;
    background-color: #14b9d5;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.txt-btn {
    color: #ffffff;
    font-size: 18px;
}

/*--------imagees header-----------*/

.container2 {
    display: flex;
    height: 1030px;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;


}

.title-2 {
    font-size: 27px;
    color: #18b4cf;
    margin-top: 43px;
}

.img-container {
    display: flex;
    width: 1170px;
    height: 828px;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 48px;
    justify-content: space-between;
}

.img-box {
    background-color: #fff;
    display: flex;
    flex-direction: column;


}

.box1 {
    width: 370px;
    height: 320px;


}

.box2 {
    width: 370px;
    height: 321px;
    margin-bottom: 152px;

}

.box3 {
    width: 370px;
    height: 441px;


}

.box4 {
    width: 370px;
    height: 309px;
    margin-bottom: 42px;


}

.box5 {
    width: 370px;
    height: 355px;


}

.box6 {
    width: 370px;
    height: 441px;


}

.txt-dsc {
    align-self: center;
    justify-self: center;
    margin-top: 20px;
    font-size: 18px;

}


/*-------------------MAIN(GRID)-----------*/

.header-container-2 {
    background: url(../img/parallax-bg.jpeg) no-repeat 100% fixed;
    height: 590px;
    display: grid;
    grid-template-rows: 40% 60%;
    grid-template-columns: 100%;
    justify-items: center;
    align-items: center;


}

.main-title-1 {
    align-self: flex-end;
}

.labels {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 881px;
    height: 113px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 76px;

}

.main-container-2 {
    height: 381px;
    margin-top: 67px;

}

.main-title-2 {
    color: #18b4cf;
    text-align: center;
    margin-bottom: 52px;


}

.gallery-container {
    display: grid;
    grid-template-columns: 271px 271px 271px 271px 271px 271px 271px;

}


/*------FOOTER------*/

footer {
    display: grid;
    justify-content: center;
    justify-items: center;
}

.footer-title {
    color: #18b4cf;

}

.main-footer-container {
    width: 1170px;
    height: 1480px;
    margin-top: 51px;
    display: grid;
    grid-template-rows: 259px 418px 416px 259px;
    grid-row-gap: 42px;
    grid-template-columns: 100%;



}

/*------1------*/
.footer-img-1 {
    display: grid;
    grid-template-columns: 483px 320px 1fr;


}
.img1{
    background-color: #f9f7f7;
    padding-right: 10px;
}

.text-1f {
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-rows: 40% 60%;
    background-color: #f9f7f7;
    margin-left: 10px;

}

.footer-txt-title {
    background-color: #f9f7f7;
    font-size: 18px;
    font-family: open-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
    justify-self: center;
    align-self: center;
}


.f_img2{
    display: grid;
    width: 277px;
    height: 258px;
    background-color: #f9f7f7;
    margin-left: 35px;
    justify-items: center;
    align-items: center;
    grid-template-rows: 210px 48px;
}

/*---------2-----------*/

.footer-img-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 259px 159px;
    grid-column-gap: 60px;

}
.txt-footer-2{

   margin: 22px 0 21px 22px;

}




.title-footer-2{
    justify-self: center;
    margin-right: 27px;

}
.text-2f{
    display: grid;
    background-color: #f9f7f7;
}
.title-3{
    margin-top: 20px;
    margin-right: 27px;
    justify-self: flex-end;
}




/*---------3-----------*/

.footer-img-3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 259px 159px;
    grid-column-gap: 60px;


}








/*---------4-----------*/

.footer-img-4{
    display: grid;
    grid-template-columns: 277px 483px 1fr;



}
.f_img4{
    background-color: #f9f7f7;
   grid-template-rows: 210px 1fr;
    display: grid;


}
.img_f4{
    margin-left: 35px;

}
.text-f4{
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-rows: 30% 70%;
    background-color: #f9f7f7;
}

.footer{
    margin-top: 71px;
   display: flex;
    background-color: #1d2124;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-around;


}
.footer-txt{
    color: #ffffff;
    margin-left: 50px;


}
.logo-f{
    margin-right: 120px;
}